---
layout: layouts/wrapper.liquid
title: Projektpartner:innen
permalink: /partners/
---

<h1 class="text-green">Projektpartner:innen</h1>
<a rel="noopener noreferrer" href="{{collections.htw[0].url}}">
  <img
    class="w-64 pt-24"
    src="/assets/images/htw-logo.jpg"
    alt="Logo of the University of Applied Sciences"
  />
</a>
<a rel="noopener noreferrer" href="/partners/{{ schoolFullName.fub[0] | slug }}">
  <img
    class="w-96 pt-24"
    src="/assets/images/fub-logo.svg"
    alt="Logo of the Free University of Berlin"
  />
</a>
<a rel="noopener noreferrer" href="{{collections.udk[0].url}}">
  <img
    class="w-96 pt-24"
    src="/assets/images/udk-logo.svg"
    alt="Logo of the Berlin University of the Arts"
  />
</a>
<a rel="noopener noreferrer" href="{{collections.tub[0].url}}">
  <img
    class="w-48 pt-24"
    src="/assets/images/tub-logo.svg"
    alt="Logo of the Technical University of Berlin"
  />
</a>
<a rel="noopener noreferrer" href="/partners/{{ schoolFullName.dlr[0] | slug }}/{{ collections.dlr[0].data.name | slug}}">
  <img
    class="w-48 pt-24"
    src="/assets/images/dlr-logo.svg"
    alt="Logo of the German Aerospace Center"
  />
</a>
