<a
  href="{{ url }}"
  class="block h-full p-4 md:p-5 bg-white shadow focus:shadow-none transform focus:scale-95 transition-transform no-underline"
  aria-label="Artikel: {{ title }}"
>
  <div class="grid grid-cols-[auto,1fr] gap-4 md:gap-5">
    {% if thumb_image_path %}
      <img
        src="{{ thumb_image_path }}"
        alt="{{ title }}"
        class="w-24 aspect-square sm:w-32 md:w-48 lg:w-56"
      />
    {% else %}
      <img
        src="/assets/images/blog/post-fallback_thumb.jpg"
        alt="Verschwommene laufende Personen"
        class="w-24 aspect-square sm:w-32 md:w-48 lg:w-56"
      />
    {% endif %}
    <div
      class="h-full flex flex-wrap gap-y-2 place-content-between"
    >
      <h2 class="text-2xl sm:!text-3xl md:!text-4xl text-blue">
        {{ title }}
      </h2>
      {% if title.size < 80 %}
        <p class="text-gray-900 leading-snug !py-0">
          {{ abstract }}
        </p>
      {% endif %}
    </div>
  </div>
  <span class="mt-2 block text-orange font-medium">
    {{ date | date: "%d.%m.%Y" }}
  </span>
</a>
