<style>
  @media (min-width: 768px) {
    #header {
      height: 5vw;
    }
  }

  @keyframes open-nav {
    from {height: 0;}
    to {height: 100%;}
  }

  #mobile-nav {
    overflow: hidden;
  }

  nav.open {
    height: 100%;
    padding-top: 32px;
    /* animation: open-nav 0.5s linear 0s 1; */
  }

  .left-arrow {
    right: 97%;
  }
  .right-arrow {
    left: 97%;
  }
  @media (min-width: 768px) {
    .left-arrow {
      right: 100%;
    }
    .right-arrow {
      left: 100%;
    }
  }
</style>
<header id="header" class="h-16 border-b border-blue md:border-b-0 w-screen px-8 py-4 md:p-0">
  <img
    class="absolute hidden md:block"
    style="z-index: -1"
    src="/assets/images/header-background.svg"
  />
  <a href="/">
    <img
      class="relative z-10 w-2/12 pl-4 hidden md:block"
      style="padding-top: 1.1vw"
      src="/assets/images/freemove-logo.svg"
      alt="freemove logo"
    />
  </a>
  <div class="md:hidden flex justify-between">
    <a href='/'>
      <img
        class="relative h-8"
        src="/assets/images/freemove-logo-small.png"
        alt="small freemove logo"
      />
    </a>
    <button
      class="hamburger hamburger--collapse focus:outline-none"
      type="button"
      onclick="this.classList.toggle('is-active');document.getElementById('mobile-nav').classList.toggle('open');document.getElementsByTagName('main')[0].classList.toggle('hidden');document.getElementsByTagName('footer')[0].classList.toggle('hidden')"
    >
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
  </div>
</header>
<nav
  class="absolute hidden md:block ml-vw"
  style="padding: calc(1.66vw - 10px) 0"
>
  <a 
    href="/"
    {% if page.url == "/" %}
    class="nav-font-size-lg lg:nav-font-size-md text-white mx-2 text-2xl font-semibold"
    {% else %}
    class="nav-font-size-lg lg:nav-font-size-md text-blue mx-2"
    {% endif %}
    >FORSCHUNGSPROJEKT</a
  >
  <a 
    href="/partners"
    {% if page.url == "/" %}
    class="nav-font-size-lg lg:nav-font-size-md text-white mx-2"
    {% elsif page.url contains "/partners" %}
    class="nav-font-size-lg lg:nav-font-size-md text-green mx-2 font-semibold"
    {% else %}
    class="nav-font-size-lg lg:nav-font-size-md text-blue mx-2"
    {% endif %}
    >PROJEKTPARTNER:INNEN</a
  >
  <!-- <a 
    href="/calendar"
    {% if page.url == "/" %}
    class="nav-font-size-lg lg:nav-font-size-md text-white mx-2"
    {% elsif page.url contains "/calendar" %}
    class="nav-font-size-lg lg:nav-font-size-md text-purple mx-2"
    {% else %}
    class="nav-font-size-lg lg:nav-font-size-md text-blue mx-2"
    {% endif %}
    >EVENTKALENDER</a
  > -->
  <a 
    href="/contact"
    {% if page.url == "/" %}
    class="nav-font-size-lg lg:nav-font-size-md text-white mx-2"
    {% elsif page.url == "/contact/" %}
    class="nav-font-size-lg lg:nav-font-size-md text-blue mx-2 font-semibold"
    {% else %}
    class="nav-font-size-lg lg:nav-font-size-md text-blue mx-2"
    {% endif %}
    >KONTAKT</a
  >
</nav>
<nav id="mobile-nav" class="component-navbar-mobile">
  <div>
    <a href="/project">FORSCHUNGSPROJEKT</a>
  </div>
  <div class="flex justify-between flex-wrap" onclick="['component-down-arrow','component-up-arrow','border-blue','border-white'].forEach(className => this.children[1].classList.toggle(className));['bg-green', 'border-t', 'border-b', 'border-blue', 'text-white'].forEach(className => this.classList.toggle(className));this.children[2].classList.toggle('hidden')">
    <a href="javascript:">PROJEKTPARTNER:INNEN</a>
    <button class="border-blue component-down-arrow mr-5 focus:outline-none"></button>
    <div class="hidden w-full">
      <a href="/partners/dlr">
        <p class="text-white text-base">{{ schools.dlr.de }}</p>
      </a>
      <a href="/partners/htw">
        <p class="text-white text-base">{{ schools.htw.de }}</p>
      </a>
      <a href="/partners/tub">
        <p class="text-white text-base">{{ schools.tub.de }}</p>
      </a>
      <a href="/partners/udk">
        <p class="text-white text-base">{{ schools.udk.de }}</p>
      </a>
      <a href="/partners/tsb">
        <p class="text-white text-base">{{ schools.tsb.de }}</p>
      </a>
    </div>
  </div>
  <!-- <div>
    <a href="/calendar">EVENTKALENDER</a>
  </div> -->
  <div>
    <a href="/contact">KONTAKT</a>
  </div>
</nav>
