<style>
  @media (min-width: 768px) {
    #header {
      height: 5vw;
    }
  }

  @keyframes open-nav {
    from {height: 0;}
    to {height: 100%;}
  }

  #mobile-nav {
    overflow: hidden;
  }

  nav.open {
    height: 100%;
    padding-top: 32px;
    /* animation: open-nav 0.5s linear 0s 1; */
  }

  .left-arrow {
    right: 97%;
  }
  .right-arrow {
    left: 97%;
  }
  @media (min-width: 768px) {
    .left-arrow {
      right: 100%;
    }
    .right-arrow {
      left: 100%;
    }
  }
</style>
<header id="header" class="h-16 border-b border-blue md:border-b-0 w-screen px-8 py-4 md:p-0">
  <img
    class="absolute hidden md:block z-10"
    src="/assets/images/header-background.svg"
  />
  <a href="/">
    <img
      class="relative z-10 w-2/12 pl-4 hidden md:block"
      style="padding-top: 1.1vw"
      src="/assets/images/freemove-logo.svg"
      alt="freemove logo"
    />
  </a>
  <div class="md:hidden flex justify-between">
    <a href='/'>
      <img
        class="relative h-8"
        src="/assets/images/freemove-logo-small.png"
        alt="small freemove logo"
      />
    </a>
    <button
      class="hamburger hamburger--collapse focus:outline-none"
      type="button"
      onclick="this.classList.toggle('is-active');document.getElementById('mobile-nav').classList.toggle('open');document.getElementsByTagName('main')[0].classList.toggle('hidden');document.getElementsByTagName('footer')[0].classList.toggle('hidden')"
    >
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
  </div>
</header>
<nav
  class="absolute hidden md:block ml-vw z-10"
  style="padding: calc(1.66vw - 10px) 0"
>
  <a 
    href="/blog"
    {% if page.url == "/" %}
    class="nav-font-size-lg lg:nav-font-size-md text-white mx-2 text-2xl no-underline"
    {% elsif page.url contains "/blog" %}
    class="nav-font-size-lg lg:nav-font-size-md text-orange mx-2 font-semibold no-underline"
    {% else %}
    class="nav-font-size-lg lg:nav-font-size-md text-blue mx-2 no-underline"
    {% endif %}
    >BLOG</a
  >
  <a 
    href="/partners"
    {% if page.url == "/" %}
    class="nav-font-size-lg lg:nav-font-size-md text-white mx-2 no-underline"
    {% elsif page.url contains "/partners" %}
    class="nav-font-size-lg lg:nav-font-size-md text-green mx-2 font-semibold no-underline"
    {% else %}
    class="nav-font-size-lg lg:nav-font-size-md text-blue mx-2 no-underline"
    {% endif %}
    >PROJEKTPARTNER:INNEN</a
  >
  <a 
    href="/calendar"
    {% if page.url == "/" %}
    class="nav-font-size-lg lg:nav-font-size-md text-white mx-2 no-underline"
    {% elsif page.url contains "/calendar" %}
    class="nav-font-size-lg lg:nav-font-size-md text-purple mx-2 font-semibold no-underline"
    {% else %}
    class="nav-font-size-lg lg:nav-font-size-md text-blue mx-2 no-underline"
    {% endif %}
    >EVENTKALENDER</a
  >
  <a 
    href="/contact"
    {% if page.url == "/" %}
    class="nav-font-size-lg lg:nav-font-size-md text-white mx-2 no-underline"
    {% elsif page.url == "/contact/" %}
    class="nav-font-size-lg lg:nav-font-size-md text-blue mx-2 font-semibold no-underline"
    {% else %}
    class="nav-font-size-lg lg:nav-font-size-md text-blue mx-2 no-underline"
    {% endif %}
    >KONTAKT</a
  >
</nav>
<nav id="mobile-nav" class="component-navbar-mobile">
  <div>
    <a href="/blog" class="no-underline">BLOG</a>
  </div>
  <div class="flex justify-between flex-wrap" onclick="['component-down-arrow','component-up-arrow','border-blue','border-white'].forEach(className => this.children[1].classList.toggle(className));['bg-green', 'border-t', 'border-b', 'border-blue', 'text-white'].forEach(className => this.classList.toggle(className));this.children[2].classList.toggle('hidden')">
    <a href="javascript:" class="no-underline">PROJEKTPARTNER:INNEN</a>
    <button class="border-blue component-down-arrow mr-5 focus:outline-none"></button>
    <div class="hidden w-full" class="no-underline">
      <a href="/partners/dlr">
        <p class="text-white text-base">{{ schools.dlr.de }}</p>
      </a>
      <a href="/partners/htw" class="no-underline">
        <p class="text-white text-base">{{ schools.htw.de }}</p>
      </a>
      <a href="/partners/tub" class="no-underline">
        <p class="text-white text-base">{{ schools.tub.de }}</p>
      </a>
      <a href="/partners/udk" class="no-underline">
        <p class="text-white text-base">{{ schools.udk.de }}</p>
      </a>
      <a href="/partners/tsb" class="no-underline">
        <p class="text-white text-base">{{ schools.tsb.de }}</p>
      </a>
    </div>
  </div>
  <div>
    <a href="/calendar" class="no-underline">EVENTKALENDER</a>
  </div>
  <div>
    <a href="/contact" class="no-underline">KONTAKT</a>
  </div>
</nav>
