<div class="w-full flex flex-col md:flex-row justify-items-center">
  <div class="flex flex-wrap flex-col md:flex-row mr-8 md:mr-0">
    <span class="w-24 block text-xs text-gray-700">Gefördert von:</span>
    <a
      class="my-8 md:my-4 w-32 -translate-y-2"
      rel="noopener noreferrer"
      target="_blank"
      href="https://www.bmbf.de/"
    >
      <img
        src="/assets/images/bmbf-logo.svg"
        alt="Logo of the Federal Ministry of Education and Research"
      />
    </a>
  </div>
  <div class="flex flex-wrap flex-col md:flex-row w-32 md:w-full">
    <span class="w-full block text-xs text-gray-700">Partner:innen:</span>
    <a
      class="my-8 md:my-4 md:mr-8 w-8/12 md:w-1/12"
      rel="noopener noreferrer"
      target="_blank"
    >
      <img
        src="{{ schools.tub.logo }}"
        alt="Logo of the {{ schools.tub.en }}"
      />
    </a>
    <a
      class="my-8 md:my-4 md:w-1/12 md:mr-8"
      rel="noopener noreferrer"
      target="_blank"
    >
      <img
        src="{{ schools.htw.logo }}"
        alt="Logo of the {{ schools.htw.en }}"
      />
    </a>
    <a
      class="my-8 md:my-4 w-8/12 md:w-1/12 md:mr-8"
      rel="noopener noreferrer"
      target="_blank"
    >
      <img
        src="{{ schools.dlr.logo }}"
        alt="Logo of the {{ schools.dlr.en }}"
      />
    </a>
    <a
      class="my-8 md:my-4 md:w-2/12 md:mr-8"
      rel="noopener noreferrer"
      target="_blank"
    >
      <img
        src="{{ schools.udk.logo }}"
        alt="Logo of the {{ schools.udk.en }}"
      />
    </a>
    <a
      class="my-8 md:my-4 md:w-2/12 md:mr-8"
      rel="noopener noreferrer"
      target="_blank"
    >
      <img
        src="{{ schools.fub.logo }}"
        alt="Logo of the {{ schools.fub.en }}"
      />
    </a>
    <a
      class="my-8 md:my-4 md:w-2/12 -translate-y-4"
      rel="noopener noreferrer"
      target="_blank"
      href="https://www.technologiestiftung-berlin.de/"
    >
      <img
        src="{{ schools.tsb.logo }}"
        alt="Logo of the {{ schools.tsb.en }}"
      />
    </a>
  </div>
</div>
