<div class="hidden md:block absolute h-full w-36 pt-18" style="right: 105%">
  <div class="sticky" style="top: 6rem;">
    <a href="/partners/#fub" class="no-underline">
      <p class="text-green mb-4 text-right text-base">{{ schools.fub.de }}</p>
    </a>
    <a href="/partners/#dlr" class="no-underline">
      <p class="text-green mb-4 text-right text-base">{{ schools.dlr.de }}</p>
    </a>
    <a href="/partners/#htw" class="no-underline">
      <p class="text-green mb-4 text-right text-base">{{ schools.htw.de }}</p>
    </a>
    <a href="/partners/#tub" class="no-underline">
      <p class="text-green mb-4 text-right text-base">{{ schools.tub.de }}</p>
    </a>
    <a href="/partners/#udk" class="no-underline">
      <p class="text-green mb-4 text-right text-base">{{ schools.udk.de }}</p>
    </a>
    <a href="/partners/#tsb" class="no-underline">
      <p class="text-green mb-4 text-right text-base">{{ schools.tsb.de }}</p>
    </a>
  </div>
</div>